<!DOCTYPE html>
<html>

<head>
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="./style.css">
</head>

<body>
    <div class="container">
        <div class="header">
            <h1>Summafy Dashboard</h1>
            <p>Here you can upload documents and view the history of activities.</p>
        </div>

        <ul class="nav-links">
            <li><a href="/upload">Upload Document</a></li>
            <li><a href="/view">View Documents</a></li>
        </ul>

        <div class="activity-history">
            <h2>Activity History</h2>
            <ul>
                {{ range .act }}
                <li>
                    <span class="activity-date">{{ .Date }}</span>
                    <span class="activity-user">{{ .User }}</span>
                    <span class="activity-description">{{ .Activity }}</span>
                    <span class="activity-document"><a href="{{ .Document.Href }}">{{ .Document.Rel
                            }}</a></span>
                </li>
                {{ end }}
            </ul>
        </div>
    </div>
</body>

</html>